notifications:
  email: false
git:
  quiet: true
  depth: false
language: java
jdk: openjdk8
node_js: lts/*
python: 3.7
os: linux
addons:
  apt:
    update: true
    packages:
      - wget
      - curl
      - sudo
      - lsof
      - python3-pip
install: true
before_install:
  #- export CHROME_BIN=/usr/bin/google-chrome
  - export DISPLAY=:99.0
  - |
    if [ ! -f ${HOME}/.local/daggerok/bash-functions/master/main.bash ] ; then
      mkdir -p ${HOME}/.local/daggerok/bash-functions/master ;
      curl -s https://raw.githubusercontent.com/daggerok/bash-functions/master/main.bash > ${HOME}/.local/daggerok/bash-functions/master/main.bash ;
    fi
    source ${HOME}/.local/daggerok/bash-functions/master/main.bash ;
  - stop_any 80 8001 8002 8080 5432
  #
  - export PATH=$HOME/.local/bin:$PATH
  - pip3 install --user --upgrade pip setuptools
  - pip install --user --upgrade httpie
  - export root=$(pwd)
jobs:
  include:
    - stage: test
      jdk: openjdk11
      name: openjdk11 gradle bundle
      script:
        - ./gradlew bundle
        - java -jar -Xdebug -Xrunjdwp:transport=dt_socket,server=y,suspend=n,address=5005
                    -Djava.net.preferIPv4Stack=true
                      ./build/*-microbundle.jar &
        - wait_for 8080
        - sleep 35
        - http :8080
        - http :8080/maksimko
        - http :8080/max/bax
        - stop_any 80 8080
    - stage: test
      jdk: openjdk8
      name: gradle start --parallel (multi)
      script:
        - (./gradlew start --parallel || true ) &
        - wait_for 8080 8081
        - sleep 35
        - http :8080/health
        - http :8081/health
        - http :8080/maksimko
        - http :8081/max/bax
        - stop_any 80 8080 8081
    - stage: test
      jdk: openjdk8
      name: gradle start
      script:
        - ./gradlew clean
        - (./gradlew start || true ) &
        - wait_for 8080
        - sleep 35
        - http :8080
        - http :8080/openapi
        - http :8080/health
        - http :8080/maksimko
        - http :8080/max/bax
        - stop_any 80 8080
    - stage: test
      jdk: openjdk8
      name: gradle bundle
      script:
        - ./gradlew bundle
        - java -jar -Xdebug -Xrunjdwp:transport=dt_socket,server=y,suspend=n,address=5005
                    -Djava.net.preferIPv4Stack=true
                      ./build/*-microbundle.jar &
        - wait_for 8080
        - sleep 35
        - http :8080
        - http :8080/maksimko
        - http :8080/max/bax
        - stop_any 80 8080
before_cache:
  - find ~/.gradle -name "fileHashes.bin" -print0 | xargs -0 rm -rfv '{}'
  - for item in $(find ~/.gradle -name "*.lock") ; do rm -rfv $item ; done
cache:
  pip: true
  packages: true
  directories:
    - ~/.local/daggerok
    - ~/.gradle
